<!DOCTYPE> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>ARCHIVE_ARTICLES</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    </head>
    <body style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
        <div>
            {% extends 'base.html' %}
            {% block content %}
            <div>    
                <p class="fs-2"><strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Dolore molestiae a saepe, eos soluta quasi! <br>
                Porro incidunt beatae nulla aut, facilis dicta ad quam architecto nostrum ab tempora excepturi id.</strong></p>>         
            </div>
            <div>    
                <p class="fs-2"><strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Dolore molestiae a saepe, eos soluta quasi! <br>
                Porro incidunt beatae nulla aut, facilis dicta ad quam architecto nostrum ab tempora excepturi id.</strong></p>>         
            </div>
            <div>    
                <p class="fs-2"><strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Dolore molestiae a saepe, eos soluta quasi! <br>
                Porro incidunt beatae nulla aut, facilis dicta ad quam architecto nostrum ab tempora excepturi id.</strong></p>>         
            </div>
            {% endblock %}  
         
        </div>
        
        
    </body>
</html>